{{>head}}

    {{>navbar}}

  <div class="row">
<div class="col-8">
<h1>ABI MONROY</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil, itaque dolore dolorem cumque veniam quasi vero nisi? Illum, officia aliquid optio ea eius quia quae voluptatum autem beatae quo?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque sequi quos distinctio illum perspiciatis similique itaque dolorem laboriosam at excepturi, earum dolore laudantium dolorum, error voluptatum eos deserunt deleniti voluptates.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dignissimos culpa consectetur eum veniam odit earum vel autem quas. Repellendus labore necessitatibus tenetur quos autem, alias itaque nulla id facere.</p>
</div>

<div class="col-4">
<img src="assets/img/hunter.JPG" alt="..." class="img-thumbnail">
</div>


  </div>

   {{>foot}}